{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="h1">Session</div>
</div>
<div class="row">
    <div class="col border bold">Date</div>
    <div class="col border bold">Location</div>
    <div class="col border bold"># Matches</div>
    <div class="col border bold">Total Points</div>
    <div class="col border bold">Player Of The Day</div>
</div>
{% for session in object_list %}
<div class="row">
    <div class="col border">{{ session.date }}</div>
    <div class="col border">{{ session.location }}</div>
    <div class="col border">{{ session.get_total_matches }}</div>
    <div class="col border">{{ session.get_total_points }}</div>
    <div class="col border">{{ session.get_winning_percent|floatformat:2 }}%</div>
    
    
</div>
{% endfor %}
{% endblock %}

