{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
        <div class="m-4 m-lg-5">
            <img src="{% static 'img/ad-logo.png'%}" alt="" srcset="">
            <p class="fs-4 mt-5">
                Welcome to Alpha Dink, where passion meets the paddle! We are a vibrant community bonded by our love for Pickleball, where rallies echo with laughter and every match is a chance to forge new friendships. Join us on the court for spirited games and a shared enthusiasm for this exhilarating sport!
            </p>
        </div>
    </div>
</div>
{% endblock %}

