{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col">
            <h1>Player</h1>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex flex-row">
                        {% if form.instance and form.instance.avatar.url %}
                            <img class="rounded-circle"
                                 style="width: 150px"
                                 src="{{ form.instance.avatar.url }}">
                        {% endif %}
                        <div class="d-flex flex-column justify-content-end mx-3">
                            <div>Total Matches: {{ form.instance.get_matches_count }}</div>
                            <div>Winning Percent: {{ form.instance.get_winning_percent|floatformat:2 }}</div>
                            <div>Last 13 Winning Percent: {{ form.instance.get_last_x_winning_percent|floatformat:2 }}</div>
                            <div>Ranking: TBD</div>
                            <h1>{{ form.instance.username }}</h1>
                        </div>
                    </div>
                </div>
                <div class="card-border">
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {{ form|crispy:"bootstrap5" }}
                        <button type="submit">Save</button>
                    </form>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col">
            <h3>Partner Stats Table</h3>
            {% render_table partner_win_table %}
        </div>
        <div class="col-1"></div>
        <div class="col">
            {% comment %}
            
            <h3>Partner Lost Table</h3>
            {% render_table partner_lose_table %}
            {% endcomment %}
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
