{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col">
        <h3>Players:</h3>
        {% render_table table %}
    </div>
    <div class="col-md-2"></div>
</div>
{% comment %}

<div class="row">
    <div class="col border bold">Name</div>
    <div class="col border bold">Matches</div>
    <div class="col border bold">Wins</div>
    <div class="col border bold">Lost</div>
    <div class="col border bold">Winning Percent</div>
</div>
{% for player in object_list %}
<div class="row">
    <div class="col border"><a href="{% url 'player' player.pk %}">{{ player.username }}</a></div>
    <div class="col border">{{ player.get_matches_count }}</div>
    <div class="col border">{{ player.get_wins_count }}</div>
    <div class="col border">{{ player.get_lose_count }}</div>
    <div class="col border">{{ player.get_winning_percent|floatformat:2 }}%</div>
</div>
{% endfor %}
{% endcomment %}
{% endblock %}

